.App {
  text-align: center;
}

.App .touchui {
  text-align: initial;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 30px;
  padding: 5px;
  color: white;
}

.App-header h2 {
  margin: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
